*.zip
*.DS_Store
*.gz
*.npy
*ubyte
*.pickle
*.p
*.dat
*.txt
*.pdf
*.jpg
*.png
*.swp
performance/*
weights/*
activity/*
plots/*
random/*
time_series/*
slurm*
inhibition_job*
!requirements.txt
results/*
data/cifar-10-batches-py/*
*.pyc
code/bash/job_reports/*
*.out
